/* CSS Reset */

/* Remove default margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/* Set font sizes to a consistent baseline */
html {
  font-size: 16px;
}

/* Set line height for better readability */
body {
  line-height: 1.5;
}

/* Remove list styles and markers */
ul,
ol {
  list-style: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
}

/* Set box-sizing to border-box for easier sizing calculations */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* reset ends */

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "avenir";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "boska";
  src: url("/fonts/Boska-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "switzer";
  src: url("/fonts/Switzer-Regular.woff2") format("woff2");
}
.font-avenir {
  font-family: "avenir";
}
.font-boska {
  font-family: "boska";
}
.font-switzer {
  font-family: "switzer";
}

:root {
  --bg-dark-green: #1b3936;
  --text-bg-green: #75ff69;
}
body {
  /* background-image: url(/img/bg.png); */
  background-color: var(--bg-dark-green);
}

/* header  */
nav ul {
  display: flex;
  justify-content: space-evenly;
  color: white;
  margin-top: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #53b555;
  margin-left: 80px;
  margin-right: 80px;
  font-weight: bold;
}

/* hero */
.hero {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 900px;
  height: 100vh;
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  border: 2px dashed var(--text-bg-green);
  border-radius: 50%;
  color: white;
  position: relative;
}
.hero div {
  margin-top: 50px;
}
.hero h1 {
  font-size: 170px;
  line-height: 150px;
}
.hero .p1 {
  margin-bottom: -40px;
}
.hero .p2 {
  width: 30rem;
  margin-top: -150px;
}
.cabin {
  margin-left: 16rem;
  color: var(--text-bg-green);
  font-style: italic;
}

.play-btn {
  background-color: #1b3936;
  position: absolute;
  top: 45%;
  left: 97%;
  /* z-index: 99 !important; */
}
